body {
  background-color: #F3F3F3;
}
select:focus, input:focus {
  outline: none;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.header {
  background-color: #38C1E6;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo img {
        max-width: 100px;
        margin: 10px;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
        max-width: 1200px;
        position: relative;
          margin: 0 auto;
          padding: 0 20px;
          box-sizing: border-box;
}
.container.container--large {
  max-width: 2000px;
    width: 100%;
    padding: 0;
}
@media (min-width: 1000px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 450px){
  .container {
    width: 95%;
  }
}
@media (max-width: 320px) {
  .container {
      width: 100%;
  }
}
#header ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 75%;
  align-items: center;
}
#header li {
    list-style-type: none;
    margin: 20px 0;
    margin-right: 60px;
}
li a {
    text-decoration: none;
    color: white;
    padding: 20px 0;
  }
.navigation {
    background: #38C1E6;
    display: flex;
  }
.logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
        margin: 10px 20px;
}
input[type="submit"] {
  max-width: 200px
}
select {
  margin-right: 10px;
}
.AddActivity {
    max-width: 500px;
    background-color: white;
    margin-top: 40px;
    box-shadow: 0 0 9px 1px rgba(182,182,181,.6);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    max-height: 330px;
    border-radius: 20px;
}
.list-group {
  display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.activity__title {
  padding: 25px 20px;
    background-color: white;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 800;
    border-bottom: 1px solid #F3F3F3;
    border-radius: 20px 20px 0 0;
}
.activity__type {
  text-transform: capitalize;
}
.activity__button input {
  line-height: 56px;
    height: 56px;
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100px;
    -webkit-appearance: none;
    background-color: #38C1E6;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: none;
    text-shadow: none;
    border: none;
    font-size: 16px;
  border-radius: 0 0 20px 20px;
}
.activity__content {
  display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.activity__content select, .activity__title select {
  -webkit-appearance: none;
    border: none;
    background: transparent;
    color: black;
    font-size: 14px;
    margin-right: 0;
    display: flex;
    margin: 0 auto;
    color: #BFBFBF;
}
.activity__title select {
  margin: 0;
    display: inline;
    color: black;
    font-weight: 800;
    margin-left: 10px;
    width: auto;
    padding: 6px 0;
    border-bottom: 2px solid #38C1E6;
    border-radius: 0;
    margin: 0 12px;
    padding-left: 0px;
    text-align-last: center;
}
.activity__date {
  min-height: 45px;
  border-bottom: 1px solid #F3F3F3;
  margin-bottom: 0px;
}
.activity__distance, .activity__duration  {
  width: 48%;
  min-height: 136px;
  padding-top: 20px;
}
.activity__distance {
  border-right: 1px solid #F3F3F3;
}
.activity__distance input {
    border: none;
    border-bottom: 1px solid #F3F3F3;
    text-align: center;
    font-size: 14px;
    padding: 10px 0 10px 0;
    margin-top: 25px;
}
.activity__distance label, .activity__duration label {
  position: relative;
    font-size: 10px;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: .5px;
    text-align: center;
}
.activity__distance select::after {
  margin-right: -5px;
}
.activity__distance svg, .activity__title svg  {
  position: relative;
    top: -20px;
    right: -15px;
    transform: rotate(90deg);
    width: 10px;
    height: 24px;
    fill: #BFBFBF;
}
form {
  display: flex;
    flex-direction: column;
    width: 100%;
}
.hidden {
  display: none;
}
.activity__duration {
      padding: 15px 0;
}
.activity__duration input {
  padding: 10px 0px 10px 10px;
    max-width: 50px;
    width: 20px;
    margin-right: 0px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #F3F3F3;
    margin: 10px 13px;
}
.activity__duration label {
  position: relative;
}
.activity-selector {
  margin-left: 10px;
}
.activity__duration label abbr {
  position: absolute;
  text-transform: initial;
  font-size: 14px;
    bottom: -39px;
    right: 15px;
    left: initial;
    color: #BFBFBF;
    letter-spacing: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.list-group-item a {
        color: #BC284A;
}
.time span {
  margin: 0 3px;
}
li.list-group-item  {
  border: 2px solid #DBDBDB;
  margin-bottom: 15px;
  padding: 10px;
  margin-top: 0;
  list-style-type: none;
  max-width: 200px;
  background-color: white;
}
table {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 9px 1px rgba(182,182,181,.6);
  margin-bottom: 75px;
  border-spacing: inherit;
  border-radius: 20px;
}
table tr {
  font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
}
table thead tr:first-child {
  background-color: #38C1E6;
  border-radius: 20px 20px 0 0;
}
.rdtDays table tbody tr:last-child {
  border-radius: 0 0 20px 20px;
}
.rdtDays table tbody tr:last-child td:first-child.rdtDay.rdtActive, .rdtDays table tbody tr:last-child td:first-child.rdtToday {
  border-radius: 0 0 0 20px;
}
.rdtDays table tbody tr:last-child td:last-child.rdtDay.rdtActive, .rdtDays table tbody tr:last-child td:last-child.rdtToday {
  border-radius: 0 0 20px 0;
}
table thead tr {
  background-color: #38C1E6;
}
table thead {
  padding: 20px 0;
  background-color: transparent;
  border: none;
  color: white;
}
table td, table th {
  -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 0;
  font-weight: 300;
}
table tbody tr:nth-child(even) {
  background-color: #F3F3F3;
}
tbody {
  text-align: center;
}
li a {
  color: black;
  cursor: pointer;
}
.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: 800;
}
.navbar button {
    background: transparent;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: 2px solid;
    cursor: pointer;
}
.login {
  margin-right: 20px;
}
.login__section, .register__section {
    max-width: 400px;
    background: #F3F3F3;
    padding: 40px 20px;
}
.login__section h1, .register__section h1 {
  margin: 0;
}
.register__section input {
  padding: 10px 10px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rdtDay.rdtActive, .rdtToday {
  background-color: #38C1E6;
  color: white;
  padding: 11.70px 0px;
}
.rdtToday {
  background-color: #007696;
}     
.rdtDay {
  cursor: pointer;
}
.rdt {
  text-align: center;
}
.rdt input {
  font-size: 16px;
  border: none;
  text-align: center;
}
.rdtPrev, .rdtNext {
  cursor: pointer;
}
.rdtDays table td {
  padding: 11.70px 0px;
}
.rdtPicker table {
  border-spacing: inherit;
  width: 88%;
}
.rdtPicker {
  position: absolute;
  width: 470px;
  top: 268px;
  right: -27px;

}
.rdtPicker thead {
  padding-top: 10px;
}
.rdtPicker thead tr {
  max-height: 28px;
  padding-top: 14px;
}
.rdtPicker tfoot {
  display: none;
}
.intro__section--header {
  margin: 0;
  margin-top: 40px;
  letter-spacing: .5px;
  font-size: 20px;
}
.duration__input {
  padding-top: 16px;
}
.activity__duration .activity__duration--label {
  top: 9px;
}
.navbar {
  width: 100%;
}
.user__profile, .user__stats {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
  height: 220px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0 9px 1px rgba(182,182,181,.6);
}
.user__profile--image, .user__profile--content {
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.user__profile--image {
  width: 47%;
  background-color: #38C1E6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user__profile--content {
  width: 53%;
  background: white;
  text-align: left;
  padding-left: 30px;
  border-radius: 0px 20px 20px 0px;
}
.user__profile--content h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .7px;
  color: #38C1E6;
  position: relative;
  margin-top: 50px;
}
.user__profile--content h2:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F3F3F3;
  position: absolute;
  max-width: 200px;
  margin-top: 46px;
  left: 0;
}
.user__profile--image img {
  max-width: 140px;
  border-radius: 50%;
  border: 4px white solid;
}

.donutchart-track{
  fill: transparent;
  stroke: #DAE2E5;
  stroke-width: 26;
}
.donutchart-indicator {
  fill: transparent;
  stroke: #38C1E6;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}

.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}


.donutchart-text{
  fill: black;
  font-weight: 800;
}
.donutchart-text-val{
  font-size: 48px;
}
.donutchart-text-percent{
  font-size: 14px;
}
.donutchart-text-label{
  font-size: 12px;
  margin-top: 10px;
  padding-top: 10px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.mileage__chart {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.login__section, .register__section {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: white;
  border-radius: 20px;
  padding: 0;
  padding-top: 50px;
  box-shadow: 0 0 9px 1px rgba(182,182,181,.6);
}
.login__btn, .register__btn {
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-appearance: none;
  background-color: #38C1E6;
  border: none;
  padding: 25px 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  color: white;
  border-radius: 0 0 20px 20px;
  margin-top: 25px;
}
.login__section input.login__btn, .register__section input.register__btn {
  max-width: 500px;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 0;
  cursor: pointer;
}
.login__section input {
  padding: 10px 10px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}